/* BODY */
body {
    font-family: 'Kodchasan', sans-serif;
    font-size: 1.5em;
    line-height: 2em; 
}
ul {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: #0066cc;
    
}

h1 {
    font-size: 2em;
    line-height: 2em;
}

h2 {    
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
    color: azure;
}

span {
    color: #0066cc;

}


/* Navegation */
nav {
    float: right; 
    padding: 50px 15px;
}
.pachi__nav-li{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size:  18px;
    padding-left: 80px; 
}

/* HEAD */

.pachi__hello {
    padding: 20px;
    margin: 40px;
}


/* ABOUT*/
#about {
    background: #000;
    color: azure;
    text-align: center;
    padding: 20px;
}

#about img {
    border-radius: 50%;
}


/* PROJECTS */

#projects {
   text-align: center;
}

#projects h1 {
    color: #0066cc;
    text-decoration: underline;
    text-transform:  uppercase;
}

#projects img {
    width: 30%;
    padding: 10px;
}

/* FOOTER */

#contact {
    background: #000;   
    color: azure;
    text-align: center;
    padding: 20px;
}

.social_media__li{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 40px; 
}

.social_media__icons {
    padding-left: 0;
}

/* MEDIA */
@media only screen and (max-width: 360px) {
    #projects {
        max-width: 300px;
    }
    h1 {
        font-size: 36px;
    }
    li {
        display: block;
        padding: 5px;
    }
    h1 {
        font-size: 1.75em;
        line-height: 2em;
    }
    
    h2 {    
        font-size: 1.5em;
    }
    
    h3 {
        font-size: 1em;
    }
    p{
        font-size: 0.8em;
    }
          
}

