body {
    font-family: 'Kodchasan', sans-serif; 
}

a {
    text-decoration: none;
    color: ##0066cc;
}

/* Navegation */



/* ABOUT*/
.about {
    background: #000;
    color: azure;
}
h1 {
    font-size: 2em;
    line-height: 2em;
}

h2 {    
    font-size: 1.5em;
}

span {
    color: #0066cc;

}



/* PROJECTS */

.projects {
    display: block;
    margin-left: 10px;
    text-align: center;
}

.projects h1 {
    color: #0066cc;
    text-decoration: underline;
    text-transform:  uppercase;
}

.projects img {
    width: 30%;
    padding: 10px;
}

/* MEDIA */
@media only screen and (max-width: 360px) {
    .btn {
        font-size: 1.5em;
    }
   
    .banner h1 {
        font-size: 1.5em;
    }
    .banner h2 {
        font-size: 1.2em;
    }
    .projects {
        max-width: 300px;
    }
}








/* FOOTER */
footer {
    background: #000;   
    color: azure;
    text-align: center;
}