/* BODY */
body {
    font-family: 'Kodchasan', sans-serif;
    font-size: 1.5em;
    line-height: 1em; 
}

ul {
    list-style-type: none;
    margin: auto;
}

li a {
    text-decoration: none;
    color: #0066cc;    
}

h1 {
    font-size: 1em;
    line-height: 1em;
}

h2 {    
    font-size: 0.75em;
}

h3, p {
    font-size: 0.60em;
    color: azure;
}

span {
    color: #0066cc;
}


/* Navegation */
nav {
    float: right; 
    padding: 50px 15px;
}
.pachi__nav-li{
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-size:  18px;
    padding-left: 10px; 
}

.pachi__nav-li a:hover { 
    background-color: rgb(230, 126, 143);
  }

/* HEAD */

.pachi__hello {
    padding: 10px;
    margin: 20px;
}


/* ABOUT*/
#about {
    background: #000;
    color: azure;
    text-align: center;
    padding: 20px;
}

.about__img {
    max-width: 300px;;
}


/* PROJECTS */

#projects {
   text-align: center;
}

#projects h1 {
    color: #0066cc;
    text-decoration: underline;
    text-transform:  uppercase;
}

#projects img {
    width: 30%;
    padding: 10px;
}

/* FOOTER */

#contact {
    background: #000;   
    color: azure;
    text-align: center;
    padding: 20px;
}

.social_media__li{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    width: 40%;
    
}

.social_media__icons {
    padding-left: 0;
}
.email_me {
    color: #fff;
}

.projects_1, .projects_2, .projects_3  {
    border: 1px solid #000; 
}

